@model IEnumerable<BibliotecaJoia.Models.Dtos.ConsultaEmprestimoDto>

@{
    ViewData["Title"] = "Consulta";
}

<h3>Consulta de Empréstimo de Livros</h3>

<p>
    <a asp-action="Index">Novo Empréstimo</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusLivro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Livro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEmprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
                <td>
                    @if (item.StatusLivro == "Atraso_Devolucao")
                    {
                        <p style="color:red"><b>@Html.DisplayFor(modelItem => item.StatusLivro)</b></p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.StatusLivro)
                    }
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "PesquisarEmprestimo", new { nomeLivro = item.Livro, nomeCliente = item.Cliente, dataEmprestimo = item.DataEmprestimo })
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.ActionLink("Voltar", "Index")
